
.target-folders
  background-color: var(--background)
  justify-content: center
  padding-left: calc(3 * var(--view-padding))
  z-index: 3

  h2
    margin: .5em 0
    opacity: .5

  .folders
    padding: .5em 0

  .actions
    .button
      margin-right: .5em
