:root {
  --background: #eee;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: var(--background);
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  overflow: hidden;
  user-select: none;
}

@keyframes view-show {
  0% {
    opacity: 0;
    pointer-events: none;
    transform: scale(1.1);
  }

  100% {
    opacity: 1;
    pointer-events: all;
    transform: scale(1);
  }
}

@keyframes view-hide {
  0% {
    opacity: 1;
    pointer-events: all;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    pointer-events: none;
    transform: scale(1.1);
  }
}

.view {
  animation: view-show 0.3s ease forwards;
  display: flex;
  flex-direction: column;
  height: 100vh;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  transform: scale(1.1);
  transition: all 0.3s ease;
  width: 100vw;
}

.view.center {
  align-items: center;
  justify-content: center;
}

.view.hide {
  animation: view-hide 0.3s ease forwards;
}
